<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_ipc_lab"
        android:label="跨进程通信 Lab"
        android:roundIcon="@drawable/ic_ipc_lab"
        android:supportsRtl="true"
        android:theme="@style/Theme.IpcLab">

        <!-- 唯一入口：默认跑在主进程 -->
        <activity
            android:name=".ui.IpcLabActivity"
            android:exported="true"
            android:label="跨进程通信 Lab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
